@{
    ViewBag.Title = "Home Page";
}

<div class=" text-warning">
    @ViewBag.Message
</div>
<div class="jumbotron">
    <h1>Richiesta Ordini</h1>
    <p class="lead">Qua puoi fare le rischieste dei prodotti per lavorare</p>
    <p><a href="/Home/Ricerca" class="btn btn-primary btn-lg">Inizia &raquo;</a></p>
</div>

